<!-- modified html content of index.html-->

<!--Submission form -->
<button onclick="testSet()">Test</button><br>
<button onclick="modeChange()">Change mode</button><br>

<!--Link to Controls page -->
<a href="controls.html">Controls</a>
<script type = "text/javascript" src = "scripts.js"></script>

<!-- End of modified html content of index.html-->